.chatpage-body {
  display: grid;
  grid-template-columns: 1fr min(55rem, 100%) 1fr;
}

.chatpage-body > * {
  grid-column: 2;
}

.app-content {
  height: 100dvh;
  grid-row: 2;
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar chat-content"
    "sidebar chat-content";
}

.chatpage-header {
  grid-area: header;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 1fr auto;
}

.sidebar {
  grid-area: sidebar;
  background-color: grey;
  overflow-y: auto;
}

.group-display {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: black solid 0.125rem;
}

.server-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-content {
  grid-area: chat-content;
  max-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.messages-container {
  grid-row: 1;
  overflow: auto;
}

.message {
  border: black solid 0.125rem;
  min-height: 5px;
}

.chatbox {
  grid-row: 2;
}

.chat-textarea {
  width: 100%;
  display: block;
  min-height: 9lh;
  resize: none;
}

@supports (field-sizing: content) {
  .chat-textarea {
    field-sizing: content;
    min-height: 0;
    max-height: 9lh;
  }
}
