* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* Prefer dvh over svh as only select content is scrolled. */
  height: 100dvh;
  display: grid;
  /* Content is centered with collapsable sides. */
  grid-template-columns: 1fr min(40rem, 100%) 1fr;
  /* Header gets limited space; give remainder to main. */
  grid-template-rows: auto 1fr;
}

body > * {
  grid-column: 2;
}

header {
  grid-row: 1;
  background-color: lightgray;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

/* Displays server name. */
header > h1 {
  /* Clips into ellipsis if name exceeds a single line. */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main {
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

main > div.message-container {
  flex: 1 1 0;
}

main > textarea {
  max-height: 9.5rem;
  /* Maybe move field-sizing to a @supports query. */
  field-sizing: content;
  resize: none;
}
